*
!/**/
!*.*
powersolid
latex/
HTML/
Coverage/
cmake-build-*
Build/
Working/
.sconsign.dblite
.ycm_extra_conf.pyc
*.o
*~
*.gcda
*.gcno
*_debug
*_coverage
*_reldeb
*_min
*_quick
perf.*
SConsVariables.py
*.aux
*.fls
*.idx
*.out
*.pdf
*.app
Makefile
!/Makefile
Lib/Ziran/CS/Util/DataDir.h
*output/
*.dSYM
*.DS_Store
._*
*.exe
*.swp
*.swo
*.fdb_latexmk
*.log
tags
.idea
build/
.vscode/
GPUProjects/SGMPM/sgmpm
GPUProjects/MultiGMPM/multigmpm
Data/ModelsGen/
